/* default setting */
/* author : GSSHOP UI GROUP 2015 */
* {margin:0;padding:0}
body,input,textarea,select,button,table{font-family:"Open Sans", "Myriad Pro","Helvetica Neue","Helvetica","Arial","Malgun Gothic",sans-serif;font-size:13px;line-height:1.5em;color:#555;text-rendering:optimizelegibility;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
h1,h2,h3,h4,h5,h6{font-size:1em}
img{vertical-align:top;border:0 none}
fieldset,iframe,frame{border:0 none}
input,select,textarea{vertical-align:middle} 
ul,ol{list-style:none}
i,em,dfn,address{font-style:normal}
a{text-decoration:underline;cursor:pointer;color:#555}
a:hover,a:focus{text-decoration:underline}
a:link,a:visited,a:active{}
input[type='text'],input[type='password'],input[type='image'],input[type='search']{-webkit-appearance:none;-webkit-border-radius:0}
button{border:0;cursor:pointer}
hr{display:none}
legend {display:inline-block; overflow:hidden; position:absolute; left:-1000px; top:-1000px; visibility:hidden;width:0 !important; height:0 !important; padding:0 !important; font-size:0/0 m; color:rgba(255,255,255,0)}
dfn {position:absolute;overflow:hidden;visibility:hidden;height:0;font:0/0 m} 

caption {margin:20px 0 5px;font-weight:bold;text-align:left;}

/* header */
header {background:#373737 ;box-shadow:0px 0px 4px rgba(0,0,0,0.14), 0px 4px 8px rgba(0,0,0,0.28);position:fixed;z-index:500;width:100%;left:0;right:0;top:0;}
header a {color:#fff;line-height:56px;transition:opacity .2s;text-decoration:none;}
header a:hover {text-decoration:none;}

/* logo */
header .wrap h1 {font-weight:400;font-size:24px;letter-spacing:0.1em;}
header .wrap, footer .wrap {padding:15px 0;line-height:1.2;}
header .wrap {margin-top:-6px;padding-left:5px;}
header .wrap.mini {margin-top:-12px;padding-left:10px;}
header .wrap.mini h1 a {font-size:20px;line-height:48px;}
header small {color:#fff;opacity:0.3;font-weight:400;} /* for gsshop it group */
header .for {}
header em {/*color:#bed730;*/}

/* footer */
footer {background:#f7f7f7;}

/* layout setting */
.container {background:#fff;padding-top:150px;}
.wrap {overflow:auto;}
.nav {margin-top:40px;background-color:#f7f7f7;}
section {margin-top:30px;}
.contents {background-color:#fff;padding:0 10px;}

.ico-cate {display:none; position:fixed;width:25px; height:25px; border:3px solid #fff; border-radius:1px;-webkit-border-radius:1px;-moz-border-radius:1px;}
.ico-cate:before{content:''; height:3px; width:20px; background:#fff; display:block; position:absolute; top:5px; left:3px; box-shadow:0 6px 0 #fff, 0 12px 0 #fff;-webkit-box-shadow:0 6px 0 #fff, 0 12px 0 #fff;-moz-box-shadow:0 6px 0 #fff, 0 12px 0 #fff;}

/* title */
.contents h1 {color:#333;font-size:34px;font-weight:400;line-height:50px;}
section h2 {margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ebebeb;font-size:24px;letter-spacing:-0.01em;color:#212121;font-weight:normal;}
h3 {padding:20px 0 10px;}

/* code setting */
/* pre */
pre {position:relative;margin:10px 0;padding:0;line-height:24px;white-space:pre-line;}
pre ol {border-left:40px solid #606060;}
pre ol li {padding:0 10px;list-style:decimal-leading-zero outside none;color:#f8f8f2;background-color:#272822;}

/* list */
.square-list {padding-left:15px;list-style-type: square;}
.square-list li {padding-bottom:5px;}

/* table */
table {width:100%;border-collapse:collapse;border-spacing:0;}
table th {padding:0.5% 2%;background:#f5f7fa;border:1px solid #e1e3e6;border-top-color:#e1e3e6;}
table td {padding:1% 2%;border:1px solid #e1e3e6;}

/* description */
.exbox {padding:5px 10px;background:#f6f9fb;border:1px solid #ccc;}
.desc-list dt {font-weight:bold;padding:5px 0 5px 5px;font-size:14px;}
.desc-list dd {padding:10px 5px 10px 5px;}
.desc-list dd pre, .desc-list dd div {margin:5px 0;}

/* align,margin,padding */
.al {text-align:left;}
.ac {text-align:center;}
.mgt10 {margin-top:10px;}
.mgt15 {margin-top:15px;}
.mgt20 {margin-top:20px;}
.desc {padding-top:5px;}

/* tag color */
strong.class {color:#349234;}
strong.tag {color:#9c318f;}

/* horizontal nav menu */
header .head-nav {width:100%;position:absolute;bottom:0;left:0;padding:0;background-color:#555;}
header .head-nav a {font-weight:400;font-size:13px;display:block;padding:5px 20px;line-height:25px;}
header .menu {width:980px;margin:0 auto;}
header .menu li {float:left;list-style-type:none;padding:0;border-right:1px solid #373737;margin-left:0;text-align:center;}
header .menu li:last-child {border-width:0}
header .menu li:first-child {display:none;}
header .menu li.on {background:#bed730;}
header .menu li.on a {color:#333;}
header .wrap.mini .head-nav a {font-size:13px;}
header .menu-sub {position:absolute;left:0;top:35px;width:100%;background:#bed730;box-shadow:0 2px 4px #ddd;}
header .menu-sub .wrap {padding:0;margin:0 auto;}
header .menu-sub a {float:left;display:block;font-size:13px;line-height:25px;padding:5px 20px;text-align:left;color:#333;}
header .menu-sub a:hover {opacity:0.8;color:#666;} 

/* reply form */
#disqus_thread {margin:20px 10px;}

/* footer link */
.foot-link {padding:0 0 15px;}
.foot-link a {margin:0 10px;position:relative;}
.foot-link img {height:25px;vertical-align:middle;}
.foot-link a:first-child{margin-left:0;}
.foot-link a:first-child img {height:18px;}
.foot-link img[alt="GitHub"] {position: absolute;clip: rect(0px,68px,25px,0px);margin-top:-2px;}