@media (max-width: 767px) {
	/*header .wrap, footer .wrap, .wrap {padding:5%;}*/
	.container {margin:46px 0 0 0;}
	header {position:fixed;left:0;top:0;width:100%;border:0;z-index:2;}
	header.ov-menu {top:-100px;} 
	header .head-nav {padding:0;}
	header .head-nav .ico-cate {display:block;position:absolute;z-index:501;top:15px;left:10px;cursor:pointer;}
	header .menu li {padding-left:15px;}
	header .menu li:first-child {display:block;}
	header .wrap h1 {background:#fff;padding-left:50px;font-size:20px;}
	header .menu {width:35%;}
	header .menu li, header .menu li a {float:none;text-align:left;}
	header .menu-sub {display:block;position:static;top:auto;left:auto;padding-left:20px;background-color:#fff;box-shadow:none;}
	header .menu-sub a {display:block;float:none;font-size:13px;line-height:25px;padding:5px 20px;text-align:left;color:#333;}

	.menu {display:block;position:fixed;z-index:502;background-color:#fff;left:0;top:0;box-shadow:0px 0px 4px rgba(0,0,0,0.14), 0px 4px 8px rgba(0,0,0,0.28);}
	.menu {width:50%;height:100%;overflow-y:auto;overflow-x:hidden;}
	.menu {-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-webkit-transform:translateX(-100%);transform:translateX(-100%);}
	.menu li:first-child {display:block;width:auto;padding:12px 0 12px 24px;font-size:14px;border-bottom:1px solid #e0e0e0;}
	.menu li .menu-title {font-weight:600;}
	.menu-title{color:#212121;display:inline-block;}
	.menu-title:before{content:''; height:3px; width:16px; background:#333; border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px; display:block; position:absolute; top:14px; left:3px; box-shadow:0 16px #333, 0 12px #333;-webkit-box-shadow:0 6px #333, 0 12px #333;-moz-box-shadow:0 6px #333, 0 12px #333;}
	.menu li {width:100%;display:block;float:none;border-right-width:0}
	.menu li a {color:#373737;font-size:13px;padding:3px 0 3px 10px;}

	.contents {padding:60px 15px 0;}
	.contents h1 {position:absolute;left:0;right:0;top:62px;width:auto;height:45px;padding-left:10px;line-height:45px;font-size:20px;z-index:1;}
	footer {position:static;left:auto;bottom:auto;width:auto;}
	.foot-link a {float:left;margin-right:20px;}
	.foot-link .gsshop {width:100px;}
	.foot-link .github {width:65px;}
	.foot-link .disqus {width:88px;}
	.copyright {clear:both;}
	.snippet-menu {display:none !important;}
	.snippet-container {border:0;overflow:hidden;position:static;border-right: 10px solid #272822;}
	.snippet-wrap {overflow-x:scroll;overflow-y:auto;-webkit-overflow-scrolling: touch;-webkit-transform: translateZ(0);width:100%;background-color:#272822;-moz-overflow-scrolling: touch;-ms-scroll-chaining:chained; overflow-x: visible;cursor:move}
	pre {white-space:nowrap;}
	pre ol {border-left-width:0}
	pre ol li {list-style:none;}
}

@media (min-width: 768px) and (max-width: 980px) {
	header.ov-menu {top:-100px;} 
	header .menu {width:auto;margin:0 auto;}
	.snippet-container {border:0;overflow:hidden;position:static;border-right: 10px solid #272822;}
	.snippet-wrap {overflow-x:scroll;overflow-y:auto;-webkit-overflow-scrolling: touch;-webkit-transform: translateZ(0);width:100%;background-color:#272822;-moz-overflow-scrolling: touch;-ms-scroll-chaining:chained; overflow-x: visible;cursor:move}
	pre {white-space:nowrap;}
	pre ol {border-left-width:0}
	pre ol li {list-style:none;}
}

@media (max-width: 414px) {
	header.ov-menu {top:-100px;} 
	body, header {min-width:320px;overflow-hidden:x;}
	header .wrap h1 {padding:10px 10px 10px 50px;}
	header small {display:block;}
	header .head-nav .ico-cate {top:12px;}
	header .menu {width:60%;}
	.contents {padding:50px 10px 0;}
	.contents h1 {top:59px;}
	.foot-link a {margin-right:10px;}
	.foot-link .gsshop {width:86px;}
	.foot-link a.gsshop img {height:39px;top:-14px;}
	.foot-link a.disqus img {vertical-align:-8px;}
	.snippet-container {border:0;overflow:hidden;position:static;border-right: 10px solid #272822;}
	.snippet-wrap {overflow-x:scroll;overflow-y:auto;-webkit-overflow-scrolling: touch;-webkit-transform: translateZ(0);width:100%;background-color:#272822;-moz-overflow-scrolling: touch;-ms-scroll-chaining:chained; overflow-x: visible;cursor:move}
	pre {white-space:nowrap;}
	pre ol li {list-style:none;font-size:0.9em;line-height:1.1em;}
	pre ol {border-left-width:0}
	.snippet-menu {display:none !important;}

	.flex-tbl .tbl-cell {display:block;width:auto;text-align:left;background-color:#fff;border-width:0 1px 1px 1px}
	.flex-tbl .tbl-cell:first-child {width:auto;background-color:#f5f7fa;border-right-width:1px;}
	.flex-table.col-group2 .tbl-cell:first-child {font-weight:bold;}
	.flex-table.col-group2 .tbl-cell:first-child,	.flex-table.col-group2 .tbl-cell+.tbl-cell,
	.flex-table.col-group3 .tbl-cell:first-child,	.flex-table.col-group3 .tbl-cell+.tbl-cell, .flex-table.col-group3 .tbl-cell+.tbl-cell+.tbl-cell {width:auto;border-left-width:1px}
	.flex-table .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group2 .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group3 .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group2 .flex-tbl.tbl-header .tbl-cell+.tbl-cell,
	.flex-table .flex-tbl.tbl-header .tbl-cell+.tbl-cell, .flex-table.col-group3 .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell {text-align:left;padding-left:2%;}

	.flex-table.col-group2 .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group2 .flex-tbl.tbl-header .tbl-cell+.tbl-cell {display:none;}

	.flex-table.col-group3.img .tbl-cell:first-child,
	.flex-table.col-group3 .tbl-cell:first-child {width:auto;font-weight:bold;}
	.flex-table.col-group3 .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group3 .flex-tbl.tbl-header .tbl-cell+.tbl-cell,
	.flex-table.col-group3 .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell,
	.flex-table.col-group3.img .flex-tbl.tbl-header .tbl-cell:first-child,
	.flex-table.col-group3.img .flex-tbl.tbl-header .tbl-cell+.tbl-cell,
	.flex-table.col-group3.img .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell {display:none;}

	.flex-table.col-group3.z-index .tbl-cell:nth-child(2):before {content:"z-index : ";font-weight:bold;font-size:13px;}
	.flex-table.css-hack .flex-tbl.tbl-header .tbl-cell:first-child, .flex-table.css-hack .flex-tbl.tbl-header .tbl-cell+.tbl-cell {display:none;}
	.flex-table.css-hack .tbl-cell:nth-child(2):before {content:"적용범위 : ";font-weight:bold;font-size:12px;}

	.flex-table.col-group5 .tbl-cell:first-child,
	.flex-table.col-group5 .tbl-cell+.tbl-cell,
	.flex-table.col-group5 .tbl-cell+.tbl-cell+.tbl-cell,
	.flex-table.col-group5 .tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell,
	.flex-table.col-group5 .tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell {width:auto;text-align:left;border-right-width:1px;text-align:left;background-color:#fff;font-weight:normal;}
	.flex-table.col-group5 .tbl-cell:first-child {display:none;}
	.flex-table.col-group5 .tbl-cell+.tbl-cell {background-color:#f5f7fa;font-weight:bold;}

	.flex-table.col-group5 .flex-tbl.tbl-header .tbl-cell+.tbl-cell,
	.flex-table.col-group5 .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell,
	.flex-table.col-group5 .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell,
	.flex-table.col-group5 .flex-tbl.tbl-header .tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell+.tbl-cell{text-align:left;background-color:#f5f7fa;display:none;}
}
